.topnav {
    background-color: #1F2833;
    overflow: hidden;
    margin: 4px #1F2833 border;
  }

.topnav a {
    float: left;
    display: block;
    color: #45A29E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}